/*body {
    background: url("images/01.gif");
}*/
li a {
    color: green;
}

body {
  font-family: arial;
  background-color: white;
  color: gray;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin: 0;
  background-color: #eee;
  padding: 5px;
  font-size: 1.2em;
}

.artigo {
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 10px
}

.conteudo {
  padding: 10px;
}