{% extends "base.html" %}
{% load comments %}
{% block content %}


<!-- <ul class="nav nav-tabs" role="tablist">
	<li role="presentation">
		<a href="/">Home</a>		
	</li>
	<li class="active" role="presentation">
		<a href="/artigos">Artigos</a>		
	</li>		
	<li role="presentation">
		<a href="/noticias">Notícias</a>		
	</li>
	<li role="presentation">
		<a href="/polls">Polls</a>
	</li>
	<li role="presentation">
		<a href="/categorias">Categorias</a>
	</li>
	<li role="presentation">
		<a href="/bio">Bio</a>
	</li>
	
</ul> -->

	<h1>{{ artigo }}</h1>

		<h3>Conteúdo:</h3>
		<p>{{ artigo.conteudo|safe }}</p>
		<h3>Publicação:</h3>
		<p>{{ artigo.publicacao }}</p>
		<h3>Categoria:</h3>
		<p>{{ artigo.categoria }}</p>



		<select class="js-example-basic-multiple" multiple="multiple" style="width: 300px">
			<option value="AL">Alabama</option>
  			<option value="AU">Aulabama</option>
  			<option value="WY">Wyoming</option>
		</select>

		<p></p>
		<select class="js-example-basic-multiple" multiple="multiple" style="width: 300px">

		{% if categorias_list %}
			{% for categoria in categorias_list %}
				<option value="AL">{{ categoria }}</option>	
			{% endfor %}
		{% endif %}
			<option value="AL">Nenhum</option>
		</select>

		<script>
			$(".js-example-basic-multiple").select2();
		</script>

		<p>Placeholder</p>
		<select class="js-example-placeholder-single" style="width: 300px">
			<option value="AL">Alabama</option>
  			<option value="AU">Aulabama</option>
  			<option value="WY">Wyoming</option>
		</select>

		<script>
			$(".js-example-placeholder-single").select2({
  				placeholder: "Select a state",
  				allowClear: true
			});
		</script>


		<select class="js-data-example-ajax">
  			<option value="select2/select2" selected="selected">select2/select2</option>
		</select>

		<script>
			$(".js-data-example-ajax").select2({
			  ajax: {
			    url: "https://api.github.com/search/repositories",
			    dataType: 'json',
			    delay: 250,
			    data: function (params) {
			      return {
			        q: params.term, // search term
			        page: params.page
			      };
			    },
			    processResults: function (data, page) {
			      // parse the results into the format expected by Select2.
			      // since we are using custom formatting functions we do not need to
			      // alter the remote JSON data
			      return {
			        results: data.items
			      };
			    },
			    cache: true
			  },
			  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
			  minimumInputLength: 1,
			  templateResult: formatRepo, // omitted for brevity, see the source of this page
			  templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
			});
		</script>


		<h3>Comentários:</h3>
		<div class="well">
			{% get_comment_list for artigo as comentarios %}
			{% for comentario in comentarios %}
			<div class="comentario">
				<b>Nome: {{ comentario.name }}<br/></b>
				{% if comentario.url %}URL: {{ comentario.url }}{% endif %}<br/>
				{{ comentario.comment|linebreaks }}
				<hr/>
			</div>
			{% endfor %}
			<h3> Envie um comentário</h3>
			{% render_comment_form for artigo %}
		</div>

<p><a href="/artigos/">Voltar</a></p>


		

{% endblock content %}
{% comment %}
	
{% endcomment %}